html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

#grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid *{
    box-sizing: border-box;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    flex: 1;
}

.box{
    border: solid;
    width: 30px;
    height: 30px;
    flex: 1;
}